*{
    margin:0;
    padding:0;
}
#insertDiv>div>kbd{
    /* border:1px solid red; */
    height: 40px;
    width: 48px;
    display: inline-block;
    text-transform: uppercase;
    position:relative;
}
#insertDiv>div>kbd>button{
    position:absolute;
    right: 0;
    bottom: 0;
    display:none;
}
#insertDiv>div>kbd:hover>button{
    display:inline-block;
}
#insertDiv>div:nth-child(2){
    margin-left:-12px;
}
#insertDiv>div:nth-child(3){
    margin-left:-30px;
}
#insertDiv{
    display: inline-block;
}
main{
    text-align: center;
}